/*
 * Visualiser Styles
 */
body {
    margin: 0;
    font-family: sans-serif;
    background: black;
}

header {
    height: 50px;
    padding: 10px 100px;
}

audio {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding-top: 25px;
}

footer {
    width: 100%;
    height: 75px;
    bottom: 0;
    position: absolute;
    text-align: center;

    video-title {
        height: 30px;
        width: 100%;
        color: white;
    }
}

input {
    width: calc(100% - 120px);
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1rem;
    color: white;
}

button {
    width: 90px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    font-size: .8rem;
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    &:hover {
        border: 2px solid white;
        font-size: .85rem;
    }
    &:disabled {
        color: grey;
    }
}


.arrow-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 60px;
    height: 80px;
    right: 3%;
    opacity: 0.9;
    border: none;
    &:hover {
        border: none;
    }
}

polyline {
    transition: all 250ms ease-in-out;
}

.arrow-right:hover polyline,
.arrow-right:focus polyline {
    stroke-width: 4;
}

.arrow-right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}